@import"./components/backdrop";
@import"./components/header";
@import"./components/sideBar";
@import"./components/subscription";
@import"./components/variables";
@import"./components/footer.scss";
@import"./responsiveDesign.scss";

@import"./eventPage/eventPage";
@import"./ferreroPage/ferreroPage";
@import"./historyPage/historyPage";
@import"./index/index";
@import"./lindtPage/lindtPage";
@import"./m&msPage/m&msPage";

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}