$color:(
  "primary": #65463E,
  "secondary": #B99A87,
  "third": #F0E7E4,
  "background": #EBEBE5,
  "background2":#B49A87
  );

$fontFamily: (
  "primary": 'Lobster',
  "secondary": 'Open Sans',
  );

$mdeiaWidth: (
  "max-width-1": "1200px",
  "max-width-2": "940px",
  "max-width-3": "800px",
  "max-width-3.5": "730px",
  "max-width-4": "650px",
  "max-width-5": "540px"
)